sudo: required

language: bash

services:
  - docker

before_script:
  - docker -v
  - docker-compose -v
  - docker-compose build app

script:
  - docker-compose run --rm tests

after_success:
  - docker images

deploy:
  provider: script
  script: ./deploy.sh
  on:
    tags: true
