{% extends 'KeboolaAdWordsExtractorBundle::base.html.twig' %}

{% block content %}
    <p>Add these two attributes to your configuration table in Storage API:</p>
    <p><strong>developer_token</strong> {{ developer_token }}</p>
    <p><strong>refresh_token</strong> {{ refresh_token }}</p>
{% endblock %}