{% extends 'KeboolaAdWordsExtractor::base.html.twig' %}

{% block content %}
    <p>Add these two attributes to your configuration table in Storage API:</p>
    <p><strong>developerToken</strong> {{ developer_token }}</p>
    <p><strong>refreshToken</strong> {{ refresh_token }}</p>
{% endblock %}